{% extends "recordings/base.html" %}
{% block title %}

Google Sheet synchroniseren

{% endblock %}

{% block content %}

<h1>Google Spreadsheet synchroniseren</h1>
<form method="post">
    {% csrf_token %}
    <label>
        Google Spreadsheet-link
    </label>

    <br><br>

    <input
        type="url"
        name="sheet_url"
        value="{{ settings.google_sheet_url }}"
        style="width: 800px;"
        placeholder="https://docs.google.com/spreadsheets/d/..."
    >

    <br><br>

    <button type="submit">
        Synchroniseer Google Sheet
    </button>

</form>

<form method="post" action="{% url 'sync_to_google_sheet' %}" style="margin-top: 20px;">
    {% csrf_token %}
    <button type="submit">
        VGT Studio → Google Sheet
    </button>
</form>

{% if message %}

<p>
    <strong>{{ message }}</strong>
</p>

{% endif %}

<p>
    <a href="{% url 'recording_list' %}">
        Terug naar VGT Studio
    </a>
</p>

{% endblock %}